body{

    background-repeat: none;
    background-image: url(background.jpg);
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    margin-top: 100px;
    margin-bottom: 200px;
}
.judul-home{
    color: hsl(33, 100%, 60%);
    text-shadow: 0 0 5px hsl(33, 100%, 45%), 0 0 10px hsl(135, 68%, 20%);
    font-size: 50px;
    font-weight: bolder;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}
.button{
    background-color: rgba(0, 84, 71, 0.6);
    border-radius: 1rem;
    padding: 16px;
    font-weight: bold;
}
.button a{
    text-decoration: none;
    font-size: 20px;
    padding: 16px;
    color: hsl(33, 100%, 60%);
    cursor: pointer;
    
}
a:hover{
    color:white;
}
a.home:visited{
    color: white;
}
.content-home{
    font-size: 25px;
    margin-top: 150px;
    margin-left: 100px;
    background-color: rgb(210, 210, 210);
    width: 40%;
    border-radius: 1rem;
    box-shadow: 0 5px 10px black, 0 6px 20px 5px #0000003d;
    padding-bottom: 10px;
}
p{
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
}
.welcome{
    background-color:  rgba(0, 84, 71, 1);
    font-weight: bold;
    color: rgb(210, 210, 210);
}
.fotoku{
    width: 400px;
    height: 400px;
    position: absolute;
    right: 150px;
    top: 250px;
    border-radius: 20rem;
    background-color:  rgba(0, 84, 71, 1);
    box-shadow: 0 5px 10px black, 0 6px 20px 5px #0000003d;
}





